<%- include('../partials/header') %>

<% if ((card.layout === 'art_series' || card.layout === 'modal_dfc' || card.layout === 'transform') && card.image_status !== 'missing') {%>
  <% card.card_faces.forEach((cardFace) => { %>
      <section class="card-large-view">
          <div class="card-container medium">
              <img src="<%= cardFace.image_uris.large %>" alt=""></p>
          </div>
      </section>
  <% }); %> 
<% } else if (card.image_status !== 'missing') {%>
  <section class="card-large-view">
      <div class="card-container medium">
          <img src="<%= card.image_uris ? JSON.parse(JSON.stringify(card.image_uris)).large : '' %>">
      </div>
  </section>
<% } %>
  <form action="/cards/<%= card.id %>?_method=PUT" class="delete-form" method="POST">
      <input type="text" name="name" value="<%= card.name %>">
      <button type="submit" class="edit-button">Finish Edit</button>
  </form> 

<%- include('../partials/footer') %> 