<%- include('../partials/header'); %> 
    <main>
        <% cards.forEach((card) => { %>
            <% if ((card.layout === 'art_series' || card.layout === 'modal_dfc' || card.layout === 'transform') && card.image_status !== 'missing') {%>
                <% card.card_faces.forEach((cardFace) => { %>
                    <section>
                        <a href="/cards/<%= card.id %>">
                            <div class="card-container small">
                                <img src="<%= cardFace.image_uris.small %>" alt=""></p>
                            </div>
                        </a>
                        <p><%= `${cardFace.name}` %></p>
                    </section>
                <% }); %> 
            <% } else if (card.image_status !== 'missing') {%>
                <section>
                    <a href="/cards/<%= card.id %>">
                        <div class="card-container small">
                            <img src="<%= card.image_uris ? JSON.parse(JSON.stringify(card.image_uris)).small : '' %>">
                        </div>
                    </a>
                    <p><%= card.name %></p>
                </section>
            <% } %> 
        <% }); %>
    </main>
<%- include('../partials/footer'); %> 